@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #1b1b1b;
    --foreground: #ffffff;

    --card: #000000;
    --card-foreground: #ffffff;

    --popover: #000000;
    --popover-foreground: #ffffff;

    --primary: #38b6ff;
    --primary-foreground: #000000;

    --secondary: #ef43cf;
    --secondary-foreground: #ffffff;

    --muted: #f4f4f5;
    --muted-foreground: #71717a;

    --accent: #000000;
    --accent-foreground: #ffffff;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;

    --border: #151515;
    --input: #2f2f2f;

    --ring: #3e3232;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

#hero::before,
#about::before,
#services::before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #bb6ce6da;
  filter: blur(140px);
}

#hero::before {
  top: calc(25% - 150px);
  left: calc(25% - 150px);
}

#services::before {
  top: calc(25% - 150px);
  left: calc(50% - 150px);
}

#about::before {
  top: calc(25% - 150px);
  right: calc(25% - 150px);
}
