@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: 2px solid rgb(202, 63, 241);
} */

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;

    --card: #000000;
    --card-foreground: #000000;

    --popover: #ffffff;
    --popover-foreground: #000000;

    --primary: #0f85da;
    --primary-foreground: #ffffff;

    --secondary: #ef43cf;
    --secondary-foreground: #000000;

    --muted: #f4f4f5;
    --muted-foreground: #71717a;

    --accent: #042549;
    --accent-foreground: #fdfdfd;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;

    --border: #0f85da;
    --input: #0f85da;

    --ring: #0f85da;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
